@model GoReview.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="container mt-4">
    <div class="row ">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserID" class="control-label"></label>
                    <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                    <input type="text" asp-for="Picture" class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumLike" class="control-label"></label>
                    <input asp-for="NumLike" class="form-control" />
                    <span asp-validation-for="NumLike" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumComment" class="control-label"></label>
                    <input asp-for="NumComment" class="form-control" />
                    <span asp-validation-for="NumComment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Home "  asp-action="Index">Back to Home</a>
    </div>
</div>



